<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.launcher2.crashreporter">
    <application>
        <provider
            android:name="com.balsikandar.crashreporter.CrashReporterInitProvider"
            android:authorities="${applicationId}.CrashReporterInitProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>