<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.launcher2.msservices">

    <application>
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>
</manifest>