<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="org.adw.ActivityStarter.THEMES" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
            <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
        </intent>
    </queries>
</manifest>
