<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.launcher2.owncloud">

    <application>
        <activity
            android:name=".LoginActivity"
            android:label="@string/preference_category_services_nextcloud"
            android:taskAffinity="de.mm20.launcher2.nextcloud"
            android:parentActivityName="de.mm20.launcher2.ui.settings.SettingsActivity"
            android:theme="@style/OwncloudLoginTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mm20.launcher2.ui.settings.SettingsActivity" />
        </activity>
    </application>

</manifest>