<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER"/>
    <uses-sdk tools:overrideLibrary="com.kieronquinn.app.smartspacer.sdk,com.kieronquinn.app.smartspacer.sdk.client" />

    <application>

        <activity
            android:name=".launcher.LauncherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:theme="@style/LauncherTheme"
            android:enableOnBackInvokedCallback="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".assistant.AssistantActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="de.mm20.launcher2.assistant"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:theme="@style/AssistantTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:enableOnBackInvokedCallback="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName=".launcher.LauncherActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:enableOnBackInvokedCallback="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mm20.launcher2.ui.launcher.LauncherActivity" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"/>
                <data android:path="/in-app"/>
                <data android:path="/in-app.html"/>
                <data android:host="kvaesitso.mm20.de"/>
            </intent-filter>
        </activity>

        <activity android:name=".launcher.sheets.BindAndConfigureAppWidgetActivity" />

        <activity
            android:name=".launcher.ImportThemeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.de.mm20.launcher2.theme" />
            </intent-filter>
        </activity>
    </application>

</manifest>