<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.launcher2.ui">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>

        <activity
            android:name=".launcher.LauncherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LauncherTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/debug_shortcuts" />

        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="de.mm20.launcher2.settings"
            android:theme="@style/SettingsTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mm20.launcher2.ui.launcher.LauncherActivity" />
        </activity>

        <activity
            android:name=".launcher.widgets.picker.PickAppWidgetActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="de.mm20.launcher2.settings"
            android:theme="@style/SettingsTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.mm20.launcher2.ui.launcher.LauncherActivity" />
        </activity>
    </application>

</manifest>