<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="de.mm20.launcher2.nextcloud.LoginActivity"
            android:label="@string/preference_nextcloud"
            android:taskAffinity="de.mm20.launcher2.nextcloud"
            android:theme="@style/NextcloudLoginTheme" />
    </application>

</manifest>