<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="de.mm20.launcher2.nextcloud.LoginActivity"
            android:label="@string/preference_nextcloud"
            android:launchMode="singleTop"
            android:enableOnBackInvokedCallback="true"/>
    </application>

</manifest>