<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.launcher2.ui">

    <application>
        <activity android:name=".legacy.activity.LauncherActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/debug_shortcuts" />

        </activity>

    </application>

</manifest>
