<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".permissions.RequestPermissionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth">
            <intent-filter>
                <action android:name="de.mm20.launcher2.plugin.REQUEST_PERMISSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>